div {
    font-family: 'noto Sans KR', sans-serif;
    font-weight: 200;
    text-align: center;

    width: 100%;

    border: 3px solid royalblue;
}


div.navigation {
    background-color:#303030;
    height: 60px;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: row;
}

div.navigation button {
    background-color: #303030;
    border: 0px;

    color: white;
    height: inherit;
    width: 120px;
    text-align: center;
}


div.navigation button:hover {
    background-color: #525252;
    color: #3ebada
}


div.navigation img {
    align-self: center;
    height: 40px;
    padding-right: 40px;
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(314deg) brightness(106%) contrast(104%);
}


h1 {
    border: 3px solid royalblue;
}
p {
    border: 3px solid royalblue;
}